# Ignores everything
*
# But track this file
!DistilBERT.py
!pyproject.toml
!README.md
!.gitignore

# Track the Nemo directory and its contents
!Nemo
!Nemo//*
!GenDatasets
!GenDatasets//*

# Website Files
!DocWebsite
!DocWebsite/**/*
!about.html
!contact.html
!demos.html
!gallery.html
!index.html
!style.css
!team.html
